.featureLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 120px;
  border: 1px solid #a7a7a7;
  border-radius: 20px;
  gap: 8px;
  background: #fff;

  &:hover {
    background: #ededed;
  }
}
